<p>login works!</p>
<!-- <mat-form-field> -->
        <input MatInput placeholder="login" [(ngModel)]="login">
 <!--</mat-form-field> -->
    
 <!-- <mat-form-field> 
    <input type="password" placeholder="mdp" [(ngModel)]="mdp">
 </mat-form-field> -->
    <button mat-button (click)="connexion()">Connexion</button>
<!--<mat-spinner color="warn" diameter: "30"></mat-spinner> -->
<!--     
<button type="submit" (click)="connexion()">Connexion</button>

<mat-form-field>
    <input matInput value="Disco party!" placeholder="Message" #message>
</mat-form-field>
          
<mat-form-field>
    <input matInput value="Dance" placeholder="Action" #action>
</mat-form-field>
          
<button mat-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>-->